
.hypothesis/
.idea
.ipynb_checkpoints
__pycache__
src/.infura_auth.txt
.history
.github
.gitignore
**/*.pyc
**/*.pyo
**.log
/logs
venv*


mnt/airflow/logs
mnt/airflow/plugins
mnt/airflow/tmp
mnt/rosemberg/notebooks/spark-warehouse
mnt/rosemberg/warehouse
services/.secrets.conf
swarm.secrets.conf
dev.secrets.conf

z_old/
z_understanding.md
