services/.secrets.conf

.hypothesis/
.idea


.github

old_readme.md

mnt/airflow/logs
mnt/airflow/plugins
mnt/airflow/tmp
mnt/rosemberg/notebooks/spark-warehouse
mnt/rosemberg/warehouse


connectors/s3-sink-dev/*
connectors/s3-sink-prod/*
__pycache__
src/.infura_auth.txt
.history
.gitignore
**/*.pyc
**/*.pyo
**.log
/logs
venv*

.git





TODOs.md
swarm.secrets.conf
dev.secrets.conf