anyio==4.7.0
certifi==2024.12.14
charset-normalizer==2.1.1
distlib==0.3.9
filelock==3.16.1
h11==0.14.0
httpcore==1.0.7
platformdirs==4.3.6
pyspark==3.5.3
python-dotenv==0.16.0
setuptools==70.3.0
sniffio==1.3.1
typing_extensions==4.12.2
urllib3==1.26.20
dm-33-utils==0.0.5